In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df=pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.027490 -0.216445  2.213273 -0.003560
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-03  1.145415 -0.987445  0.877876  1.535908
2013-01-04  1.277020  1.158607  1.038588  0.651254
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851
2013-01-06 -0.081668  0.349601  0.206796  1.294662

In [6]:
df2=pd.DataFrame({'A' : 1.,
                  'B' : pd.Timestamp('20130102'),
                  'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D' : np.array([3]*4, dtype='int32'),
                  'E' : pd.Categorical(["test","train","test","train"]),
                  'F' : 'foo'})

In [7]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [10]:
df

                   A         B         C         D
2013-01-01  0.027490 -0.216445  2.213273 -0.003560
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-03  1.145415 -0.987445  0.877876  1.535908
2013-01-04  1.277020  1.158607  1.038588  0.651254
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851
2013-01-06 -0.081668  0.349601  0.206796  1.294662

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.027490 -0.216445  2.213273 -0.003560
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-03  1.145415 -0.987445  0.877876  1.535908
2013-01-04  1.277020  1.158607  1.038588  0.651254
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.277020  1.158607  1.038588  0.651254
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851
2013-01-06 -0.081668  0.349601  0.206796  1.294662

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.index.dtype

dtype('<M8[ns]')

In [15]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [16]:
df.values

array([[ 0.02749028, -0.21644484,  2.21327296, -0.00355972],
       [ 0.45357875,  0.69176416, -0.06593026, -0.24558975],
       [ 1.14541548, -0.98744503,  0.87787621,  1.53590781],
       [ 1.27701992,  1.15860725,  1.03858821,  0.65125367],
       [-2.24482282, -0.81041363,  0.37187343, -0.70185109],
       [-0.08166838,  0.34960066,  0.20679584,  1.2946625 ]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.096169  0.030945  0.773746  0.421804
std    1.275904  0.850418  0.817461  0.888224
min   -2.244823 -0.987445 -0.065930 -0.701851
25%   -0.054379 -0.661921  0.248065 -0.185082
50%    0.240535  0.066578  0.624875  0.323847
75%    0.972456  0.606223  0.998410  1.133810
max    1.277020  1.158607  2.213273  1.535908

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.027490    0.453579    1.145415    1.277020   -2.244823   -0.081668
B   -0.216445    0.691764   -0.987445    1.158607   -0.810414    0.349601
C    2.213273   -0.065930    0.877876    1.038588    0.371873    0.206796
D   -0.003560   -0.245590    1.535908    0.651254   -0.701851    1.294662

In [19]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01 -0.003560  2.213273 -0.216445  0.027490
2013-01-02 -0.245590 -0.065930  0.691764  0.453579
2013-01-03  1.535908  0.877876 -0.987445  1.145415
2013-01-04  0.651254  1.038588  1.158607  1.277020
2013-01-05 -0.701851  0.371873 -0.810414 -2.244823
2013-01-06  1.294662  0.206796  0.349601 -0.081668

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  1.145415 -0.987445  0.877876  1.535908
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851
2013-01-01  0.027490 -0.216445  2.213273 -0.003560
2013-01-06 -0.081668  0.349601  0.206796  1.294662
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-04  1.277020  1.158607  1.038588  0.651254

In [21]:
df[0:3]

                   A         B         C         D
2013-01-01  0.027490 -0.216445  2.213273 -0.003560
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-03  1.145415 -0.987445  0.877876  1.535908

In [22]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-03  1.145415 -0.987445  0.877876  1.535908
2013-01-04  1.277020  1.158607  1.038588  0.651254

In [23]:
df.loc[dates[0]]

A    0.027490
B   -0.216445
C    2.213273
D   -0.003560
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df

                   A         B         C         D
2013-01-01  0.027490 -0.216445  2.213273 -0.003560
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-03  1.145415 -0.987445  0.877876  1.535908
2013-01-04  1.277020  1.158607  1.038588  0.651254
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851
2013-01-06 -0.081668  0.349601  0.206796  1.294662

In [25]:
df.loc['20130101':'20130104',['A','B']]

                   A         B
2013-01-01  0.027490 -0.216445
2013-01-02  0.453579  0.691764
2013-01-03  1.145415 -0.987445
2013-01-04  1.277020  1.158607

In [26]:
df.iloc[2]

A    1.145415
B   -0.987445
C    0.877876
D    1.535908
Name: 2013-01-03 00:00:00, dtype: float64

In [27]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.453579 -0.065930
2013-01-03  1.145415  0.877876
2013-01-05 -2.244823  0.371873

In [28]:
df[df>0]

                   A         B         C         D
2013-01-01  0.027490       NaN  2.213273       NaN
2013-01-02  0.453579  0.691764       NaN       NaN
2013-01-03  1.145415       NaN  0.877876  1.535908
2013-01-04  1.277020  1.158607  1.038588  0.651254
2013-01-05       NaN       NaN  0.371873       NaN
2013-01-06       NaN  0.349601  0.206796  1.294662

In [29]:
df[df.A>0]

                   A         B         C         D
2013-01-01  0.027490 -0.216445  2.213273 -0.003560
2013-01-02  0.453579  0.691764 -0.065930 -0.245590
2013-01-03  1.145415 -0.987445  0.877876  1.535908
2013-01-04  1.277020  1.158607  1.038588  0.651254

In [30]:
df2=df.copy()

In [31]:
df2['E']=['one','two','three','one','two','three']

In [32]:
df2

                   A         B         C         D      E
2013-01-01  0.027490 -0.216445  2.213273 -0.003560    one
2013-01-02  0.453579  0.691764 -0.065930 -0.245590    two
2013-01-03  1.145415 -0.987445  0.877876  1.535908  three
2013-01-04  1.277020  1.158607  1.038588  0.651254    one
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851    two
2013-01-06 -0.081668  0.349601  0.206796  1.294662  three

In [33]:
df2[df2['E'].isin(['two','three'])]

                   A         B         C         D      E
2013-01-02  0.453579  0.691764 -0.065930 -0.245590    two
2013-01-03  1.145415 -0.987445  0.877876  1.535908  three
2013-01-05 -2.244823 -0.810414  0.371873 -0.701851    two
2013-01-06 -0.081668  0.349601  0.206796  1.294662  three

In [34]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [35]:
s1
df['F']=s1

In [36]:
df.at[dates[0],'A']=0

In [37]:
df.iat[0,1]=0

In [38]:
df.loc[:,'D']=np.array([5]*len(df))

In [39]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  2.213273  5  NaN
2013-01-02  0.453579  0.691764 -0.065930  5  1.0
2013-01-03  1.145415 -0.987445  0.877876  5  2.0
2013-01-04  1.277020  1.158607  1.038588  5  3.0
2013-01-05 -2.244823 -0.810414  0.371873  5  4.0
2013-01-06 -0.081668  0.349601  0.206796  5  5.0

In [40]:
df2=df.copy()
df2[df2>0]=-df2

In [41]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -2.213273 -5  NaN
2013-01-02 -0.453579 -0.691764 -0.065930 -5 -1.0
2013-01-03 -1.145415 -0.987445 -0.877876 -5 -2.0
2013-01-04 -1.277020 -1.158607 -1.038588 -5 -3.0
2013-01-05 -2.244823 -0.810414 -0.371873 -5 -4.0
2013-01-06 -0.081668 -0.349601 -0.206796 -5 -5.0

In [42]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [43]:
df1.loc[dates[0]:dates[1],'E']=1

In [44]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  2.213273  5  NaN  1.0
2013-01-02  0.453579  0.691764 -0.065930  5  1.0  1.0
2013-01-03  1.145415 -0.987445  0.877876  5  2.0  NaN
2013-01-04  1.277020  1.158607  1.038588  5  3.0  NaN

In [45]:
df1.dropna(how='any')

                   A         B        C  D    F    E
2013-01-02  0.453579  0.691764 -0.06593  5  1.0  1.0

In [46]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  2.213273  5  5.0  1.0
2013-01-02  0.453579  0.691764 -0.065930  5  1.0  1.0
2013-01-03  1.145415 -0.987445  0.877876  5  2.0  5.0
2013-01-04  1.277020  1.158607  1.038588  5  3.0  5.0

In [47]:
df1.mean(1)

2013-01-01    1.642655
2013-01-02    1.346569
2013-01-03    1.607169
2013-01-04    2.294843
Freq: D, dtype: float64

In [48]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [49]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [50]:
y = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(3)

In [51]:
y

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    NaN
2013-01-04    1.0
2013-01-05    3.0
2013-01-06    5.0
Freq: D, dtype: float64

In [52]:
p = pd.Series([1,3,5,np.nan,6,8], index=dates)

In [53]:
p

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

In [54]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03  0.145415 -1.987445 -0.122124  4.0  1.0
2013-01-04 -1.722980 -1.841393 -1.961412  2.0  0.0
2013-01-05 -7.244823 -5.810414 -4.628127  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [55]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  2.213273   5   NaN
2013-01-02  0.453579  0.691764  2.147343  10   1.0
2013-01-03  1.598994 -0.295681  3.025219  15   3.0
2013-01-04  2.876014  0.862926  4.063807  20   6.0
2013-01-05  0.631191  0.052513  4.435681  25  10.0
2013-01-06  0.549523  0.402113  4.642476  30  15.0

In [56]:
np.cumsum

In [57]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  2.213273  5  NaN
2013-01-02  0.453579  0.691764 -0.065930  5  1.0
2013-01-03  1.145415 -0.987445  0.877876  5  2.0
2013-01-04  1.277020  1.158607  1.038588  5  3.0
2013-01-05 -2.244823 -0.810414  0.371873  5  4.0
2013-01-06 -0.081668  0.349601  0.206796  5  5.0

In [58]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  2.213273   5   NaN
2013-01-02  0.453579  0.691764  2.147343  10   1.0
2013-01-03  1.598994 -0.295681  3.025219  15   3.0
2013-01-04  2.876014  0.862926  4.063807  20   6.0
2013-01-05  0.631191  0.052513  4.435681  25  10.0
2013-01-06  0.549523  0.402113  4.642476  30  15.0

In [59]:
df.apply( lambda x:x.max()-x.min(),axis=0)

A    3.521843
B    2.146052
C    2.279203
D    0.000000
F    4.000000
dtype: float64

In [60]:
df.apply( lambda x:x.max()-x.min(),axis=1)

2013-01-01    5.000000
2013-01-02    5.065930
2013-01-03    5.987445
2013-01-04    3.961412
2013-01-05    7.244823
2013-01-06    5.081668
Freq: D, dtype: float64

In [61]:
s.value_counts()

5.0    1
3.0    1
1.0    1
dtype: int64

In [62]:
s=pd.Series(np.random.randint(0,7,size=10))

In [63]:
s

0    4
1    1
2    6
3    1
4    6
5    3
6    0
7    1
8    2
9    6
dtype: int64

In [64]:
s.value_counts()

6    3
1    3
4    1
3    1
2    1
0    1
dtype: int64

In [65]:
s=pd.Series(['A','B','C','Aaba','Baca',np.nan,'CABA','dog','cat'])

In [66]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [67]:
df=pd.DataFrame(np.random.randn(10,4))

In [68]:
df

          0         1         2         3
0 -0.765616 -2.156847 -0.827013 -0.145006
1  0.807431 -0.182603  0.734852 -0.855461
2  0.111656 -0.402397  1.158752 -1.905131
3  1.023398 -1.259295 -1.297920  0.346852
4  1.448157  0.343602  0.045270  0.172161
5 -0.228631  1.220243 -0.828698 -0.302401
6  0.432078 -0.539158 -0.276642  0.212671
7 -0.244426 -0.329862  0.549386  0.212686
8 -0.864626 -0.615876  2.271477 -0.158489
9  0.989494 -0.807397  1.324997  0.514054

In [69]:
pieces=[df[:3], df[3:7],df[7:]]

In [70]:
pd.concat(pieces)

          0         1         2         3
0 -0.765616 -2.156847 -0.827013 -0.145006
1  0.807431 -0.182603  0.734852 -0.855461
2  0.111656 -0.402397  1.158752 -1.905131
3  1.023398 -1.259295 -1.297920  0.346852
4  1.448157  0.343602  0.045270  0.172161
5 -0.228631  1.220243 -0.828698 -0.302401
6  0.432078 -0.539158 -0.276642  0.212671
7 -0.244426 -0.329862  0.549386  0.212686
8 -0.864626 -0.615876  2.271477 -0.158489
9  0.989494 -0.807397  1.324997  0.514054

In [71]:
left = pd.DataFrame({'key':['foo','foo'],'lval':[1,2]})

In [72]:
right = pd.DataFrame({'key':['foo','foo'],'rval':[4,5]})

In [73]:
left

   key  lval
0  foo     1
1  foo     2

In [74]:
right

   key  rval
0  foo     4
1  foo     5

In [75]:
pd.merge(left,right,on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [76]:
tuples=list(zip(*[['bar','bar','baz','baz',
                  'foo','foo','qux','qux'],
                 ['one','two','one','two',
                 'one','two','one','two']]))

In [77]:
index = pd.MultiIndex.from_tuples(tuples,names=['first','second'])

In [78]:
df=pd.DataFrame(np.random.randn(8,2), index=index, columns=['A','B'])

In [79]:
df2=df[:4]

In [80]:
df2

                     A         B
first second
bar   one     1.201681  0.067636
      two     0.142321  1.145529
baz   one    -1.080493 -1.458091
      two    -0.394878 -1.933235

In [81]:
array = [ [1,2,3,4],[5,6,7,8]]

In [82]:
index2=pd.MultiIndex.from_arrays(array,names=[u'first',u'second'])

In [83]:
df3=pd.DataFrame(np.random.randn(4,2),index=index2, columns=['a','b'])

In [84]:
df3

                     a         b
first second
1     5      -0.372391  0.048861
2     6      -0.301256 -0.093469
3     7      -1.706746 -0.987769
4     8      -1.225881  0.726975

In [85]:
stacked = df2.stack()

In [86]:
stacked.unstack(1)

second        one       two
first
bar   A  1.201681  0.142321
      B  0.067636  1.145529
baz   A -1.080493 -0.394878
      B -1.458091 -1.933235

In [87]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [88]:
ts=pd.Series(np.random.randint(0,500,len(rng)), index=rng)

In [89]:
ts.resample('5Min').sum()

2012-01-01    25676
Freq: 5T, dtype: int64

In [90]:
rng=pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [91]:
ts=pd.Series(np.random.randn(len(rng)),rng)

In [92]:
ts

2012-03-06    1.703809
2012-03-07   -0.870870
2012-03-08    0.474033
2012-03-09   -0.214835
2012-03-10   -0.461256
Freq: D, dtype: float64

In [93]:
rng

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10'],
              dtype='datetime64[ns]', freq='D')

In [94]:
ts_utc=ts.tz_localize('UTC')

In [95]:
ts_utc

2012-03-06 00:00:00+00:00    1.703809
2012-03-07 00:00:00+00:00   -0.870870
2012-03-08 00:00:00+00:00    0.474033
2012-03-09 00:00:00+00:00   -0.214835
2012-03-10 00:00:00+00:00   -0.461256
Freq: D, dtype: float64

In [96]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    1.703809
2012-03-06 19:00:00-05:00   -0.870870
2012-03-07 19:00:00-05:00    0.474033
2012-03-08 19:00:00-05:00   -0.214835
2012-03-09 19:00:00-05:00   -0.461256
Freq: D, dtype: float64

In [97]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [98]:
ts=pd.Series(np.random.randn(len(rng)), index=rng)

In [99]:
ts

2012-01-31   -0.261417
2012-02-29   -0.702162
2012-03-31   -1.247443
2012-04-30    0.328742
2012-05-31   -0.206747
Freq: M, dtype: float64

In [100]:
ps=ts.to_period()

In [101]:
ps

2012-01   -0.261417
2012-02   -0.702162
2012-03   -1.247443
2012-04    0.328742
2012-05   -0.206747
Freq: M, dtype: float64

In [103]:
ps.to_timestamp()

2012-01-01   -0.261417
2012-02-01   -0.702162
2012-03-01   -1.247443
2012-04-01    0.328742
2012-05-01   -0.206747
Freq: MS, dtype: float64

In [114]:
prng = pd.period_range('1990Q1','2000Q4',freq='Q-NOV')
prng

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='int64', freq='Q-NOV')

In [121]:
ts=pd.Series(np.random.randn(len(prng)),prng)
ts

1990Q1    0.077962
1990Q2   -0.023131
1990Q3    1.561341
1990Q4   -0.793465
1991Q1   -0.362313
1991Q2    1.048392
1991Q3   -0.277636
1991Q4   -0.813064
1992Q1   -0.084514
1992Q2    0.174741
1992Q3    0.302042
1992Q4   -0.800588
1993Q1    0.989231
1993Q2   -0.274419
1993Q3   -0.302127
1993Q4   -1.706749
1994Q1   -0.561673
1994Q2   -0.133990
1994Q3    1.265611
1994Q4    0.457555
1995Q1   -0.639124
1995Q2    0.515239
1995Q3   -0.936568
1995Q4    0.701617
1996Q1   -0.017820
1996Q2   -0.280793
1996Q3    0.364239
1996Q4    0.829771
1997Q1    0.995497
1997Q2   -0.816282
1997Q3   -1.764154
1997Q4    0.930930
1998Q1    0.599043
1998Q2    0.324089
1998Q3    0.602293
1998Q4    0.134927
1999Q1    1.146213
1999Q2   -1.176409
1999Q3    0.346008
1999Q4    0.047526
2000Q1   -1.009077
2000Q2    0.014677
2000Q3    0.495576
2000Q4   -0.289160
Freq: Q-NOV, dtype: float64

In [124]:
ts.index=(prng.asfreq('M','e')+1).asfreq('H','s')+9
ts

1990-03-01 09:00    0.077962
1990-06-01 09:00   -0.023131
1990-09-01 09:00    1.561341
1990-12-01 09:00   -0.793465
1991-03-01 09:00   -0.362313
1991-06-01 09:00    1.048392
1991-09-01 09:00   -0.277636
1991-12-01 09:00   -0.813064
1992-03-01 09:00   -0.084514
1992-06-01 09:00    0.174741
1992-09-01 09:00    0.302042
1992-12-01 09:00   -0.800588
1993-03-01 09:00    0.989231
1993-06-01 09:00   -0.274419
1993-09-01 09:00   -0.302127
1993-12-01 09:00   -1.706749
1994-03-01 09:00   -0.561673
1994-06-01 09:00   -0.133990
1994-09-01 09:00    1.265611
1994-12-01 09:00    0.457555
1995-03-01 09:00   -0.639124
1995-06-01 09:00    0.515239
1995-09-01 09:00   -0.936568
1995-12-01 09:00    0.701617
1996-03-01 09:00   -0.017820
1996-06-01 09:00   -0.280793
1996-09-01 09:00    0.364239
1996-12-01 09:00    0.829771
1997-03-01 09:00    0.995497
1997-06-01 09:00   -0.816282
1997-09-01 09:00   -1.764154
1997-12-01 09:00    0.930930
1998-03-01 09:00    0.599043
1998-06-01 09:00    0.324089
1998-09-01 09:00    0.602293
1998-12-01 09:00    0.134927
1999-03-01 09:00    1.146213
1999-06-01 09:00   -1.176409
1999-09-01 09:00    0.346008
1999-12-01 09:00    0.047526
2000-03-01 09:00   -1.009077
2000-06-01 09:00    0.014677
2000-09-01 09:00    0.495576
2000-12-01 09:00   -0.289160
Freq: H, dtype: float64

In [125]:
ts.index=(prng.asfreq('M','e')+1)
ts

1990-03    0.077962
1990-06   -0.023131
1990-09    1.561341
1990-12   -0.793465
1991-03   -0.362313
1991-06    1.048392
1991-09   -0.277636
1991-12   -0.813064
1992-03   -0.084514
1992-06    0.174741
1992-09    0.302042
1992-12   -0.800588
1993-03    0.989231
1993-06   -0.274419
1993-09   -0.302127
1993-12   -1.706749
1994-03   -0.561673
1994-06   -0.133990
1994-09    1.265611
1994-12    0.457555
1995-03   -0.639124
1995-06    0.515239
1995-09   -0.936568
1995-12    0.701617
1996-03   -0.017820
1996-06   -0.280793
1996-09    0.364239
1996-12    0.829771
1997-03    0.995497
1997-06   -0.816282
1997-09   -1.764154
1997-12    0.930930
1998-03    0.599043
1998-06    0.324089
1998-09    0.602293
1998-12    0.134927
1999-03    1.146213
1999-06   -1.176409
1999-09    0.346008
1999-12    0.047526
2000-03   -1.009077
2000-06    0.014677
2000-09    0.495576
2000-12   -0.289160
Freq: M, dtype: float64

In [118]:
ts.head()

1990-03-01 09:00   -0.170135
1990-06-01 09:00   -1.584207
1990-09-01 09:00    0.187726
1990-12-01 09:00   -1.153877
1991-03-01 09:00   -1.384743
Freq: H, dtype: float64

In [120]:
ts.index

PeriodIndex(['1990-03-01 09:00', '1990-06-01 09:00', '1990-09-01 09:00',
             '1990-12-01 09:00', '1991-03-01 09:00', '1991-06-01 09:00',
             '1991-09-01 09:00', '1991-12-01 09:00', '1992-03-01 09:00',
             '1992-06-01 09:00', '1992-09-01 09:00', '1992-12-01 09:00',
             '1993-03-01 09:00', '1993-06-01 09:00', '1993-09-01 09:00',
             '1993-12-01 09:00', '1994-03-01 09:00', '1994-06-01 09:00',
             '1994-09-01 09:00', '1994-12-01 09:00', '1995-03-01 09:00',
             '1995-06-01 09:00', '1995-09-01 09:00', '1995-12-01 09:00',
             '1996-03-01 09:00', '1996-06-01 09:00', '1996-09-01 09:00',
             '1996-12-01 09:00', '1997-03-01 09:00', '1997-06-01 09:00',
             '1997-09-01 09:00', '1997-12-01 09:00', '1998-03-01 09:00',
             '1998-06-01 09:00', '1998-09-01 09:00', '1998-12-01 09:00',
             '1999-03-01 09:00', '1999-06-01 09:00', '1999-09-01 09:00',
             '1999-12-01 09:00', '2000-03-01 09:00', '2000-06-01 09:00',
             '2000-09-01 09:00', '2000-12-01 09:00'],
            dtype='int64', freq='H')

In [127]:
ts.head()

1990-03    0.077962
1990-06   -0.023131
1990-09    1.561341
1990-12   -0.793465
1991-03   -0.362313
Freq: M, dtype: float64

In [128]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

In [129]:
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [130]:
df["grade"]=df["raw_grade"].astype("category")

In [131]:
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]