In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df=pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.445832 -0.368275  0.091835  0.897340
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-03  1.237312 -0.995289  2.306078 -0.019062
2013-01-04  0.765858  1.429655  0.088603  1.758905
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193
2013-01-06 -0.374289  0.653242  1.069799  1.044718

In [6]:
df2=pd.DataFrame({'A' : 1.,
                  'B' : pd.Timestamp('20130102'),
                  'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D' : np.array([3]*4, dtype='int32'),
                  'E' : pd.Categorical(["test","train","test","train"]),
                  'F' : 'foo'})

In [7]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [10]:
df

                   A         B         C         D
2013-01-01 -0.445832 -0.368275  0.091835  0.897340
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-03  1.237312 -0.995289  2.306078 -0.019062
2013-01-04  0.765858  1.429655  0.088603  1.758905
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193
2013-01-06 -0.374289  0.653242  1.069799  1.044718

In [11]:
df.head()

                   A         B         C         D
2013-01-01 -0.445832 -0.368275  0.091835  0.897340
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-03  1.237312 -0.995289  2.306078 -0.019062
2013-01-04  0.765858  1.429655  0.088603  1.758905
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.765858  1.429655  0.088603  1.758905
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193
2013-01-06 -0.374289  0.653242  1.069799  1.044718

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.index.dtype

dtype('<M8[ns]')

In [15]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [16]:
df.values

array([[-0.44583158, -0.36827469,  0.0918353 ,  0.8973395 ],
       [ 1.60775294,  0.33588963, -1.20864599,  0.45340847],
       [ 1.23731197, -0.99528872,  2.30607757, -0.01906192],
       [ 0.76585759,  1.42965526,  0.08860326,  1.75890521],
       [-0.6579737 , -0.10687689, -1.67192383, -0.06319314],
       [-0.37428943,  0.65324243,  1.06979929,  1.04471829]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.355471  0.158058  0.112624  0.678686
std    0.971182  0.845129  1.460055  0.698090
min   -0.657974 -0.995289 -1.671924 -0.063193
25%   -0.427946 -0.302925 -0.884334  0.099056
50%    0.195784  0.114506  0.090219  0.675374
75%    1.119448  0.573904  0.825308  1.007874
max    1.607753  1.429655  2.306078  1.758905

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.445832    1.607753    1.237312    0.765858   -0.657974   -0.374289
B   -0.368275    0.335890   -0.995289    1.429655   -0.106877    0.653242
C    0.091835   -1.208646    2.306078    0.088603   -1.671924    1.069799
D    0.897340    0.453408   -0.019062    1.758905   -0.063193    1.044718

In [19]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01  0.897340  0.091835 -0.368275 -0.445832
2013-01-02  0.453408 -1.208646  0.335890  1.607753
2013-01-03 -0.019062  2.306078 -0.995289  1.237312
2013-01-04  1.758905  0.088603  1.429655  0.765858
2013-01-05 -0.063193 -1.671924 -0.106877 -0.657974
2013-01-06  1.044718  1.069799  0.653242 -0.374289

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  1.237312 -0.995289  2.306078 -0.019062
2013-01-01 -0.445832 -0.368275  0.091835  0.897340
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-06 -0.374289  0.653242  1.069799  1.044718
2013-01-04  0.765858  1.429655  0.088603  1.758905

In [21]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.445832 -0.368275  0.091835  0.897340
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-03  1.237312 -0.995289  2.306078 -0.019062

In [22]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-03  1.237312 -0.995289  2.306078 -0.019062
2013-01-04  0.765858  1.429655  0.088603  1.758905

In [23]:
df.loc[dates[0]]

A   -0.445832
B   -0.368275
C    0.091835
D    0.897340
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df

                   A         B         C         D
2013-01-01 -0.445832 -0.368275  0.091835  0.897340
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-03  1.237312 -0.995289  2.306078 -0.019062
2013-01-04  0.765858  1.429655  0.088603  1.758905
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193
2013-01-06 -0.374289  0.653242  1.069799  1.044718

In [25]:
df.loc['20130101':'20130104',['A','B']]

                   A         B
2013-01-01 -0.445832 -0.368275
2013-01-02  1.607753  0.335890
2013-01-03  1.237312 -0.995289
2013-01-04  0.765858  1.429655

In [26]:
df.iloc[2]

A    1.237312
B   -0.995289
C    2.306078
D   -0.019062
Name: 2013-01-03 00:00:00, dtype: float64

In [27]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.607753 -1.208646
2013-01-03  1.237312  2.306078
2013-01-05 -0.657974 -1.671924

In [28]:
df[df>0]

                   A         B         C         D
2013-01-01       NaN       NaN  0.091835  0.897340
2013-01-02  1.607753  0.335890       NaN  0.453408
2013-01-03  1.237312       NaN  2.306078       NaN
2013-01-04  0.765858  1.429655  0.088603  1.758905
2013-01-05       NaN       NaN       NaN       NaN
2013-01-06       NaN  0.653242  1.069799  1.044718

In [29]:
df[df.A>0]

                   A         B         C         D
2013-01-02  1.607753  0.335890 -1.208646  0.453408
2013-01-03  1.237312 -0.995289  2.306078 -0.019062
2013-01-04  0.765858  1.429655  0.088603  1.758905

In [30]:
df2=df.copy()

In [31]:
df2['E']=['one','two','three','one','two','three']

In [32]:
df2

                   A         B         C         D      E
2013-01-01 -0.445832 -0.368275  0.091835  0.897340    one
2013-01-02  1.607753  0.335890 -1.208646  0.453408    two
2013-01-03  1.237312 -0.995289  2.306078 -0.019062  three
2013-01-04  0.765858  1.429655  0.088603  1.758905    one
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193    two
2013-01-06 -0.374289  0.653242  1.069799  1.044718  three

In [33]:
df2[df2['E'].isin(['two','three'])]

                   A         B         C         D      E
2013-01-02  1.607753  0.335890 -1.208646  0.453408    two
2013-01-03  1.237312 -0.995289  2.306078 -0.019062  three
2013-01-05 -0.657974 -0.106877 -1.671924 -0.063193    two
2013-01-06 -0.374289  0.653242  1.069799  1.044718  three

In [34]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [35]:
s1
df['F']=s1

In [36]:
df.at[dates[0],'A']=0

In [37]:
df.iat[0,1]=0

In [38]:
df.loc[:,'D']=np.array([5]*len(df))

In [39]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.091835  5  NaN
2013-01-02  1.607753  0.335890 -1.208646  5  1.0
2013-01-03  1.237312 -0.995289  2.306078  5  2.0
2013-01-04  0.765858  1.429655  0.088603  5  3.0
2013-01-05 -0.657974 -0.106877 -1.671924  5  4.0
2013-01-06 -0.374289  0.653242  1.069799  5  5.0

In [40]:
df2=df.copy()
df2[df2>0]=-df2

In [41]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.091835 -5  NaN
2013-01-02 -1.607753 -0.335890 -1.208646 -5 -1.0
2013-01-03 -1.237312 -0.995289 -2.306078 -5 -2.0
2013-01-04 -0.765858 -1.429655 -0.088603 -5 -3.0
2013-01-05 -0.657974 -0.106877 -1.671924 -5 -4.0
2013-01-06 -0.374289 -0.653242 -1.069799 -5 -5.0

In [42]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [43]:
df1.loc[dates[0]:dates[1],'E']=1

In [44]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.091835  5  NaN  1.0
2013-01-02  1.607753  0.335890 -1.208646  5  1.0  1.0
2013-01-03  1.237312 -0.995289  2.306078  5  2.0  NaN
2013-01-04  0.765858  1.429655  0.088603  5  3.0  NaN

In [45]:
df1.dropna(how='any')

                   A        B         C  D    F    E
2013-01-02  1.607753  0.33589 -1.208646  5  1.0  1.0

In [46]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.091835  5  5.0  1.0
2013-01-02  1.607753  0.335890 -1.208646  5  1.0  1.0
2013-01-03  1.237312 -0.995289  2.306078  5  2.0  5.0
2013-01-04  0.765858  1.429655  0.088603  5  3.0  5.0

In [47]:
df1.mean(1)

2013-01-01    1.218367
2013-01-02    1.289166
2013-01-03    1.909620
2013-01-04    2.056823
Freq: D, dtype: float64

In [48]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [49]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [50]:
y = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(3)

In [51]:
y

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    NaN
2013-01-04    1.0
2013-01-05    3.0
2013-01-06    5.0
Freq: D, dtype: float64

In [52]:
p = pd.Series([1,3,5,np.nan,6,8], index=dates)

In [53]:
p

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

In [54]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03  0.237312 -1.995289  1.306078  4.0  1.0
2013-01-04 -2.234142 -1.570345 -2.911397  2.0  0.0
2013-01-05 -5.657974 -5.106877 -6.671924  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [55]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.091835   5   NaN
2013-01-02  1.607753  0.335890 -1.116811  10   1.0
2013-01-03  2.845065 -0.659399  1.189267  15   3.0
2013-01-04  3.610922  0.770256  1.277870  20   6.0
2013-01-05  2.952949  0.663379 -0.394054  25  10.0
2013-01-06  2.578659  1.316622  0.675746  30  15.0

In [56]:
np.cumsum

In [57]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.091835  5  NaN
2013-01-02  1.607753  0.335890 -1.208646  5  1.0
2013-01-03  1.237312 -0.995289  2.306078  5  2.0
2013-01-04  0.765858  1.429655  0.088603  5  3.0
2013-01-05 -0.657974 -0.106877 -1.671924  5  4.0
2013-01-06 -0.374289  0.653242  1.069799  5  5.0

In [58]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.091835   5   NaN
2013-01-02  1.607753  0.335890 -1.116811  10   1.0
2013-01-03  2.845065 -0.659399  1.189267  15   3.0
2013-01-04  3.610922  0.770256  1.277870  20   6.0
2013-01-05  2.952949  0.663379 -0.394054  25  10.0
2013-01-06  2.578659  1.316622  0.675746  30  15.0

In [59]:
df.apply( lambda x:x.max()-x.min(),axis=0)

A    2.265727
B    2.424944
C    3.978001
D    0.000000
F    4.000000
dtype: float64

In [60]:
df.apply( lambda x:x.max()-x.min(),axis=1)

2013-01-01    5.000000
2013-01-02    6.208646
2013-01-03    5.995289
2013-01-04    4.911397
2013-01-05    6.671924
2013-01-06    5.374289
Freq: D, dtype: float64

In [61]:
s.value_counts()

5.0    1
3.0    1
1.0    1
dtype: int64

In [62]:
s=pd.Series(np.random.randint(0,7,size=10))

In [63]:
s

0    5
1    2
2    3
3    0
4    5
5    1
6    5
7    4
8    5
9    3
dtype: int64

In [64]:
s.value_counts()

5    4
3    2
4    1
2    1
1    1
0    1
dtype: int64

In [65]:
s=pd.Series(['A','B','C','Aaba','Baca',np.nan,'CABA','dog','cat'])

In [66]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [67]:
df=pd.DataFrame(np.random.randn(10,4))

In [68]:
df

          0         1         2         3
0  0.839805 -0.522040  1.165894 -0.433072
1  0.732079  0.143257  1.824419  0.064691
2 -0.070233 -1.078672 -2.238259 -1.168263
3 -2.006110 -0.396874  1.862094  2.328863
4 -0.931653 -0.332142 -0.446386  1.146245
5  0.582813  0.795405  0.711966  0.313747
6 -1.899880 -1.024138 -1.002503 -0.103588
7 -0.917863  0.683469  0.835625  0.649923
8 -0.186684 -1.490860 -0.268548  0.054167
9 -1.353844 -1.445605  0.131077  0.251399

In [69]:
pieces=[df[:3], df[3:7],df[7:]]

In [70]:
pd.concat(pieces)

          0         1         2         3
0  0.839805 -0.522040  1.165894 -0.433072
1  0.732079  0.143257  1.824419  0.064691
2 -0.070233 -1.078672 -2.238259 -1.168263
3 -2.006110 -0.396874  1.862094  2.328863
4 -0.931653 -0.332142 -0.446386  1.146245
5  0.582813  0.795405  0.711966  0.313747
6 -1.899880 -1.024138 -1.002503 -0.103588
7 -0.917863  0.683469  0.835625  0.649923
8 -0.186684 -1.490860 -0.268548  0.054167
9 -1.353844 -1.445605  0.131077  0.251399

In [71]:
left = pd.DataFrame({'key':['foo','foo'],'lval':[1,2]})

In [72]:
right = pd.DataFrame({'key':['foo','foo'],'rval':[4,5]})

In [73]:
left

   key  lval
0  foo     1
1  foo     2

In [74]:
right

   key  rval
0  foo     4
1  foo     5

In [75]:
pd.merge(left,right,on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [76]:
tuples=list(zip(*[['bar','bar','baz','baz',
                  'foo','foo','qux','qux'],
                 ['one','two','one','two',
                 'one','two','one','two']]))

In [77]:
index = pd.MultiIndex.from_tuples(tuples,names=['first','second'])

In [78]:
df=pd.DataFrame(np.random.randn(8,2), index=index, columns=['A','B'])

In [79]:
df2=df[:4]

In [80]:
df2

                     A         B
first second
bar   one    -0.331977  0.778578
      two    -0.015984 -0.642919
baz   one     0.981887  1.693990
      two    -0.423715  0.810560

In [81]:
array = [ [1,2,3,4],[5,6,7,8]]

In [82]:
index2=pd.MultiIndex.from_arrays(array,names=[u'first',u'second'])

In [83]:
df3=pd.DataFrame(np.random.randn(4,2),index=index2, columns=['a','b'])

In [84]:
df3

                     a         b
first second
1     5      -0.009848  0.025713
2     6       2.092007  1.085006
3     7      -0.569067 -1.255677
4     8      -1.110279  1.535257

In [85]:
stacked = df2.stack()

In [86]:
stacked.unstack(1)

second        one       two
first
bar   A -0.331977 -0.015984
      B  0.778578 -0.642919
baz   A  0.981887 -0.423715
      B  1.693990  0.810560

In [88]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [89]:
ts=pd.Series(np.random.randint(0,500,len(rng)), index=rng)

In [90]:
ts.resample('5Min').sum()

2012-01-01    25347
Freq: 5T, dtype: int64

In [91]:
rng=pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [92]:
ts=pd.Series(np.random.randn(len(rng)),rng)

In [93]:
ts

2012-03-06   -0.262994
2012-03-07    1.318750
2012-03-08    0.982914
2012-03-09   -0.327112
2012-03-10    0.118978
Freq: D, dtype: float64

In [94]:
rng

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10'],
              dtype='datetime64[ns]', freq='D')

In [97]:
ts_utc=ts.tz_localize('UTC')

In [98]:
ts_utc

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10'],
              dtype='datetime64[ns, UTC]', freq='D')

In [ ]:
ts