In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from scipy import fftpack
from scipy import signal
import numpy as np
import pandas as pd
import datetime

In [2]:
 df = pd.DataFrame({
    ...: 'a':[1,2,3,4,5], 
    ...: 'b':[0,0,1,1,1],
    ...: 'c':['a','b','c','c','d'],
    ...: 'd':['e','f','g','h','i']
    ...: })

In [3]:
df

   a  b  c  d
0  1  0  a  e
1  2  0  b  f
2  3  1  c  g
3  4  1  c  h
4  5  1  d  i

In [4]:
df.set_index('a')

   b  c  d
a
1  0  a  e
2  0  b  f
3  1  c  g
4  1  c  h
5  1  d  i

In [6]:
df1 = df.set_index(['b','c'])

In [7]:
df1

     a  d
b c
0 a  1  e
  b  2  f
1 c  3  g
  c  4  h
  d  5  i