In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df=pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.347162  1.020815  2.774108 -0.539662
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716
2013-01-03 -1.541450 -1.413679  0.985883  0.088259
2013-01-04 -1.159996 -1.222482  0.371551  0.475990
2013-01-05 -0.515510  2.682112  2.183454 -1.023877
2013-01-06 -0.281818 -1.266938  0.374806 -1.128019

In [6]:
df2=pd.DataFrame({'A' : 1.,
                  'B' : pd.Timestamp('20130102'),
                  'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D' : np.array([3]*4, dtype='int32'),
                  'E' : pd.Categorical(["test","train","test","train"]),
                  'F' : 'foo'})

In [7]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [10]:
df

                   A         B         C         D
2013-01-01  0.347162  1.020815  2.774108 -0.539662
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716
2013-01-03 -1.541450 -1.413679  0.985883  0.088259
2013-01-04 -1.159996 -1.222482  0.371551  0.475990
2013-01-05 -0.515510  2.682112  2.183454 -1.023877
2013-01-06 -0.281818 -1.266938  0.374806 -1.128019

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.347162  1.020815  2.774108 -0.539662
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716
2013-01-03 -1.541450 -1.413679  0.985883  0.088259
2013-01-04 -1.159996 -1.222482  0.371551  0.475990
2013-01-05 -0.515510  2.682112  2.183454 -1.023877

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.159996 -1.222482  0.371551  0.475990
2013-01-05 -0.515510  2.682112  2.183454 -1.023877
2013-01-06 -0.281818 -1.266938  0.374806 -1.128019

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.index.dtype

dtype('<M8[ns]')

In [15]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [16]:
df.values

array([[ 0.34716189,  1.0208147 ,  2.77410768, -0.53966244],
       [-1.32445999, -1.25688784, -0.90014475, -1.57371616],
       [-1.54144954, -1.41367865,  0.98588308,  0.08825929],
       [-1.15999587, -1.22248202,  0.37155102,  0.47598957],
       [-0.51551022,  2.68211161,  2.18345445, -1.02387691],
       [-0.28181814, -1.26693831,  0.37480642, -1.12801897]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.746012 -0.242843  0.964943 -0.616838
std    0.721435  1.706446  1.336953  0.779743
min   -1.541450 -1.413679 -0.900145 -1.573716
25%   -1.283344 -1.264426  0.372365 -1.101983
50%   -0.837753 -1.239685  0.680345 -0.781770
75%   -0.340241  0.459991  1.884062 -0.068721
max    0.347162  2.682112  2.774108  0.475990

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.347162   -1.324460   -1.541450   -1.159996   -0.515510   -0.281818
B    1.020815   -1.256888   -1.413679   -1.222482    2.682112   -1.266938
C    2.774108   -0.900145    0.985883    0.371551    2.183454    0.374806
D   -0.539662   -1.573716    0.088259    0.475990   -1.023877   -1.128019

In [19]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01 -0.539662  2.774108  1.020815  0.347162
2013-01-02 -1.573716 -0.900145 -1.256888 -1.324460
2013-01-03  0.088259  0.985883 -1.413679 -1.541450
2013-01-04  0.475990  0.371551 -1.222482 -1.159996
2013-01-05 -1.023877  2.183454  2.682112 -0.515510
2013-01-06 -1.128019  0.374806 -1.266938 -0.281818

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03 -1.541450 -1.413679  0.985883  0.088259
2013-01-06 -0.281818 -1.266938  0.374806 -1.128019
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716
2013-01-04 -1.159996 -1.222482  0.371551  0.475990
2013-01-01  0.347162  1.020815  2.774108 -0.539662
2013-01-05 -0.515510  2.682112  2.183454 -1.023877

In [21]:
df[0:3]

                   A         B         C         D
2013-01-01  0.347162  1.020815  2.774108 -0.539662
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716
2013-01-03 -1.541450 -1.413679  0.985883  0.088259

In [22]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716
2013-01-03 -1.541450 -1.413679  0.985883  0.088259
2013-01-04 -1.159996 -1.222482  0.371551  0.475990

In [23]:
df.loc[dates[0]]

A    0.347162
B    1.020815
C    2.774108
D   -0.539662
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df

                   A         B         C         D
2013-01-01  0.347162  1.020815  2.774108 -0.539662
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716
2013-01-03 -1.541450 -1.413679  0.985883  0.088259
2013-01-04 -1.159996 -1.222482  0.371551  0.475990
2013-01-05 -0.515510  2.682112  2.183454 -1.023877
2013-01-06 -0.281818 -1.266938  0.374806 -1.128019

In [25]:
df.loc['20130101':'20130104',['A','B']]

                   A         B
2013-01-01  0.347162  1.020815
2013-01-02 -1.324460 -1.256888
2013-01-03 -1.541450 -1.413679
2013-01-04 -1.159996 -1.222482

In [26]:
df.iloc[2]

A   -1.541450
B   -1.413679
C    0.985883
D    0.088259
Name: 2013-01-03 00:00:00, dtype: float64

In [27]:
df.iloc[[1,2,4],[0,2]]

                  A         C
2013-01-02 -1.32446 -0.900145
2013-01-03 -1.54145  0.985883
2013-01-05 -0.51551  2.183454

In [28]:
df[df>0]

                   A         B         C         D
2013-01-01  0.347162  1.020815  2.774108       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03       NaN       NaN  0.985883  0.088259
2013-01-04       NaN       NaN  0.371551  0.475990
2013-01-05       NaN  2.682112  2.183454       NaN
2013-01-06       NaN       NaN  0.374806       NaN

In [29]:
df[df.A>0]

                   A         B         C         D
2013-01-01  0.347162  1.020815  2.774108 -0.539662

In [30]:
df2=df.copy()

In [31]:
df2['E']=['one','two','three','one','two','three']

In [32]:
df2

                   A         B         C         D      E
2013-01-01  0.347162  1.020815  2.774108 -0.539662    one
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716    two
2013-01-03 -1.541450 -1.413679  0.985883  0.088259  three
2013-01-04 -1.159996 -1.222482  0.371551  0.475990    one
2013-01-05 -0.515510  2.682112  2.183454 -1.023877    two
2013-01-06 -0.281818 -1.266938  0.374806 -1.128019  three

In [33]:
df2[df2['E'].isin(['two','three'])]

                   A         B         C         D      E
2013-01-02 -1.324460 -1.256888 -0.900145 -1.573716    two
2013-01-03 -1.541450 -1.413679  0.985883  0.088259  three
2013-01-05 -0.515510  2.682112  2.183454 -1.023877    two
2013-01-06 -0.281818 -1.266938  0.374806 -1.128019  three

In [34]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [35]:
s1
df['F']=s1

In [36]:
df.at[dates[0],'A']=0

In [37]:
df.iat[0,1]=0

In [38]:
df.loc[:,'D']=np.array([5]*len(df))

In [39]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  2.774108  5  NaN
2013-01-02 -1.324460 -1.256888 -0.900145  5  1.0
2013-01-03 -1.541450 -1.413679  0.985883  5  2.0
2013-01-04 -1.159996 -1.222482  0.371551  5  3.0
2013-01-05 -0.515510  2.682112  2.183454  5  4.0
2013-01-06 -0.281818 -1.266938  0.374806  5  5.0

In [40]:
df2=df.copy()
df2[df2>0]=-df2

In [41]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -2.774108 -5  NaN
2013-01-02 -1.324460 -1.256888 -0.900145 -5 -1.0
2013-01-03 -1.541450 -1.413679 -0.985883 -5 -2.0
2013-01-04 -1.159996 -1.222482 -0.371551 -5 -3.0
2013-01-05 -0.515510 -2.682112 -2.183454 -5 -4.0
2013-01-06 -0.281818 -1.266938 -0.374806 -5 -5.0

In [42]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [43]:
df1.loc[dates[0]:dates[1],'E']=1

In [44]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  2.774108  5  NaN  1.0
2013-01-02 -1.324460 -1.256888 -0.900145  5  1.0  1.0
2013-01-03 -1.541450 -1.413679  0.985883  5  2.0  NaN
2013-01-04 -1.159996 -1.222482  0.371551  5  3.0  NaN

In [45]:
df1.dropna(how='any')

                  A         B         C  D    F    E
2013-01-02 -1.32446 -1.256888 -0.900145  5  1.0  1.0

In [46]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  2.774108  5  5.0  1.0
2013-01-02 -1.324460 -1.256888 -0.900145  5  1.0  1.0
2013-01-03 -1.541450 -1.413679  0.985883  5  2.0  5.0
2013-01-04 -1.159996 -1.222482  0.371551  5  3.0  5.0

In [47]:
df1.mean(1)

2013-01-01    1.754822
2013-01-02    0.586418
2013-01-03    1.006151
2013-01-04    1.197815
Freq: D, dtype: float64

In [48]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [49]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [50]:
y = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(3)

In [51]:
y

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    NaN
2013-01-04    1.0
2013-01-05    3.0
2013-01-06    5.0
Freq: D, dtype: float64

In [52]:
p = pd.Series([1,3,5,np.nan,6,8], index=dates)

In [53]:
p

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

In [54]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -2.541450 -2.413679 -0.014117  4.0  1.0
2013-01-04 -4.159996 -4.222482 -2.628449  2.0  0.0
2013-01-05 -5.515510 -2.317888 -2.816546  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [55]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  2.774108   5   NaN
2013-01-02 -1.324460 -1.256888  1.873963  10   1.0
2013-01-03 -2.865910 -2.670566  2.859846  15   3.0
2013-01-04 -4.025905 -3.893049  3.231397  20   6.0
2013-01-05 -4.541416 -1.210937  5.414851  25  10.0
2013-01-06 -4.823234 -2.477875  5.789658  30  15.0

In [56]:
np.cumsum

In [57]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  2.774108  5  NaN
2013-01-02 -1.324460 -1.256888 -0.900145  5  1.0
2013-01-03 -1.541450 -1.413679  0.985883  5  2.0
2013-01-04 -1.159996 -1.222482  0.371551  5  3.0
2013-01-05 -0.515510  2.682112  2.183454  5  4.0
2013-01-06 -0.281818 -1.266938  0.374806  5  5.0

In [58]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  2.774108   5   NaN
2013-01-02 -1.324460 -1.256888  1.873963  10   1.0
2013-01-03 -2.865910 -2.670566  2.859846  15   3.0
2013-01-04 -4.025905 -3.893049  3.231397  20   6.0
2013-01-05 -4.541416 -1.210937  5.414851  25  10.0
2013-01-06 -4.823234 -2.477875  5.789658  30  15.0

In [59]:
df.apply( lambda x:x.max()-x.min(),axis=0)

A    1.541450
B    4.095790
C    3.674252
D    0.000000
F    4.000000
dtype: float64

In [60]:
df.apply( lambda x:x.max()-x.min(),axis=1)

2013-01-01    5.000000
2013-01-02    6.324460
2013-01-03    6.541450
2013-01-04    6.222482
2013-01-05    5.515510
2013-01-06    6.266938
Freq: D, dtype: float64

In [61]:
s.value_counts()

5.0    1
3.0    1
1.0    1
dtype: int64

In [62]:
s=pd.Series(np.random.randint(0,7,size=10))

In [63]:
s

0    6
1    1
2    0
3    2
4    1
5    6
6    6
7    6
8    5
9    2
dtype: int64

In [64]:
s.value_counts()

6    4
2    2
1    2
5    1
0    1
dtype: int64

In [65]:
s=pd.Series(['A','B','C','Aaba','Baca',np.nan,'CABA','dog','cat'])

In [66]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [67]:
df=pd.DataFrame(np.random.randn(10,4))

In [68]:
df

          0         1         2         3
0 -0.465876  0.042538  0.206738  0.459829
1 -0.476506  1.473336  1.695224 -0.830100
2  1.258282 -0.219715 -1.077293 -0.582245
3 -1.019703 -0.156367  0.913718  0.694708
4 -0.712067  0.391549  0.091286  1.467472
5  0.589221  0.153200 -0.608892 -0.551390
6 -0.645969 -1.011841  0.306469 -0.012095
7 -0.512068  0.790189  1.415056  0.200546
8 -1.438220 -0.739798 -0.369604 -0.933404
9  0.114889  1.312632 -0.224495 -1.420541

In [69]:
pieces=[df[:3], df[3:7],df[7:]]

In [70]:
pd.concat(pieces)

          0         1         2         3
0 -0.465876  0.042538  0.206738  0.459829
1 -0.476506  1.473336  1.695224 -0.830100
2  1.258282 -0.219715 -1.077293 -0.582245
3 -1.019703 -0.156367  0.913718  0.694708
4 -0.712067  0.391549  0.091286  1.467472
5  0.589221  0.153200 -0.608892 -0.551390
6 -0.645969 -1.011841  0.306469 -0.012095
7 -0.512068  0.790189  1.415056  0.200546
8 -1.438220 -0.739798 -0.369604 -0.933404
9  0.114889  1.312632 -0.224495 -1.420541

In [71]:
left = pd.DataFrame({'key':['foo','foo'],'lval':[1,2]})

In [72]:
right = pd.DataFrame({'key':['foo','foo'],'rval':[4,5]})

In [73]:
left

   key  lval
0  foo     1
1  foo     2

In [74]:
right

   key  rval
0  foo     4
1  foo     5

In [75]:
pd.merge(left,right,on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [76]:
tuples=list(zip(*[['bar','bar','baz','baz',
                  'foo','foo','qux','qux'],
                 ['one','two','one','two',
                 'one','two','one','two']]))

In [77]:
index = pd.MultiIndex.from_tuples(tuples,names=['first','second'])

In [78]:
df=pd.DataFrame(np.random.randn(8,2), index=index, columns=['A','B'])

In [79]:
df2=df[:4]

In [80]:
df2

                     A         B
first second
bar   one    -0.028990  0.725976
      two    -0.919694  1.534069
baz   one     1.479648 -0.519701
      two     0.588324  0.578672

In [81]:
array = [ [1,2,3,4],[5,6,7,8]]

In [82]:
index2=pd.MultiIndex.from_arrays(array,names=[u'first',u'second'])

In [83]:
df3=pd.DataFrame(np.random.randn(4,2),index=index2, columns=['a','b'])

In [84]:
df3

                     a         b
first second
1     5       1.523061  1.360008
2     6      -1.498084 -0.366951
3     7      -0.198166  1.467332
4     8      -0.465060  1.093017

In [85]:
stacked = df2.stack()

In [86]:
stacked.unstack(1)

second        one       two
first
bar   A -0.028990 -0.919694
      B  0.725976  1.534069
baz   A  1.479648  0.588324
      B -0.519701  0.578672

In [87]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [88]:
ts=pd.Series(np.random.randint(0,500,len(rng)), index=rng)

In [89]:
ts.resample('5Min').sum()

2012-01-01    26373
Freq: 5T, dtype: int64

In [90]:
rng=pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [91]:
ts=pd.Series(np.random.randn(len(rng)),rng)

In [92]:
ts

2012-03-06    0.517745
2012-03-07   -0.215512
2012-03-08    0.743990
2012-03-09    0.098368
2012-03-10    1.451320
Freq: D, dtype: float64

In [93]:
rng

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10'],
              dtype='datetime64[ns]', freq='D')

In [94]:
ts_utc=ts.tz_localize('UTC')

In [95]:
ts_utc

2012-03-06 00:00:00+00:00    0.517745
2012-03-07 00:00:00+00:00   -0.215512
2012-03-08 00:00:00+00:00    0.743990
2012-03-09 00:00:00+00:00    0.098368
2012-03-10 00:00:00+00:00    1.451320
Freq: D, dtype: float64

In [97]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    0.517745
2012-03-06 19:00:00-05:00   -0.215512
2012-03-07 19:00:00-05:00    0.743990
2012-03-08 19:00:00-05:00    0.098368
2012-03-09 19:00:00-05:00    1.451320
Freq: D, dtype: float64

In [98]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [99]:
ts=pd.Series(np.random.randn(len(rng)), index=rng)